<?xml version="1.0" encoding="utf-8"?>
<!-- This might not be obvious enough, but this file should not be readable
from HTTP. There's the database password in it. -->

<root>
	<!-- Title of the main website page -->
	<title>Unnamed Up/Download website</title>

	<!-- Path to the JQuery-UI Theme CSS File to be used 
		Note that JQuery-UI Themes systeme requires the images/ directory to
		be in the same directory as the CSS file -->
	<jqui-theme>jquery-ui-theme/custom-theme/jquery-ui-1.8.16.custom.css</jqui-theme>
	
	<!-- Blowfish salt string to be used for password encryption
		Don't change this on the fly or existing passwords won't be recognized anymore.
		Should be Alphanum (or whole login system will break), 22 characters long.  -->
	<salt>salu7c357moifira</salt>
	
	<!-- Database host -->
	<oracle-host>blade06.esiee.fr</oracle-host>
	<!-- Database user -->
	<oracle-user>loyauf</oracle-user>
	<!-- Database password -->
	<oracle-passwd>merlau</oracle-passwd>
	<!-- Database identifier(?) -->
	<oracle-id>XE</oracle-id>
	
	<!-- Max size of files to be downloaded over the specified time lapse (in bytes) - default approx 10 MB -->
	<download-maxsize>10000000</download-maxsize>
	<!-- Time in seconds during which the above restriction apply (default 86400 = 24 hours) -->
	<download-maxtime>86400</download-maxtime>
	
	<!-- Max amount of files to be downloaded within 24 hours -->
	<download-maxamount>5</download-maxamount>
	
</root>
