/* css/style.css
	General Website style
	Since most of the website design should be handled by JQuery-UI and its theme 
	this stylesheet should be mostly empty.
*/

.floatbutton {
	float: right;
	z-index: 100;
}

.userinfobox {
	width: 300px; 
	margin-left: auto; 
	margin-right: auto;
	position: relative; 
}

.mainfieldset {
	width: 680px;
	margin-left: 10%;
}

body { 
	background:#232323; 
	font-family:Tahoma, Geneva, sans-serif;
	font-size:100%; 
	line-height:1.0625em;
	color:#5f5f5f;
}

html { min-width:941px;}
html, body { height:100%;}

#main {
	margin: 0 auto;
	position: relative;
	width: 941px;
	position:relative;
	font-size:.69em;
}

#topbanner {
	height:100px;
	overflow:hidden;
	position:relative;
}

a {
	color:#1c7e98; 
	outline:none;
}
a:hover{
	text-decoration:none;
}

.box {
	background:#000;
	width:100%;
}
	.box .border-top {
		background:url(../images/design/border-top.gif) repeat-x left top;
	}
	.box .border-bot {
		background:url(../images/design/border-bot.gif) repeat-x left bottom;
	}
	.box .border-left {
		background:url(../images/design/border-left.gif) repeat-y left top;
	}
	.box .border-right {
		background:url(../images/design/border-right.gif) repeat-y right top;
	}
	.box .left-top-corner {
		background:url(../images/design/left-top-corner.gif) no-repeat left top;
	}
	.box .right-top-corner {
		background:url(../images/design/right-top-corner.gif) no-repeat right top;
	}
	.box .left-bot-corner {
		background:url(../images/design/left-bot-corner.gif) no-repeat left bottom;
		width:100%;
		}
	.box .right-bot-corner {
		background:url(../images/design/right-bot-corner.gif) no-repeat right bottom;
		}
		
	.box .inside { 
		padding:17px 20px 20px 20px;
	}
	
.banner {
	height:240px;
	overflow:hidden;
}

#content {
	padding:15px;
}

.mainContent {
	float: left;
	width:552px;
	margin-right:15px;
}

.wrapper { 
	width:100%;
	overflow:hidden;
}

input, select, textarea { 
	font-family: Tahoma, Geneva, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}


#footer {
	color:#5d5d5d;
	padding:2px 0 20px 66px;
}

.inside{ padding: 20px; }

.inside .banner{ 
padding: 6px;
}
